/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
.popular-courses{
    text-align: center;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.popular{
    padding-top: 10px;
    margin: 0 40px;
}
.popular-courses h2{
    font-size: 45px;
}
.popular-courses p{
    font-size: 15px;
    color: #777777;
    padding: 20px;
}
.course{
    display: flex;
}

.course .thumbnail img{
    height: 200px;
    width: 200px;
}
   .course-info{
    margin-left: 16px;
    padding: 30px;
   }
   
   .course-title{
    font-size: 25px;
   }
   .courses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
   }
   .course-info h4{
    color: #289BDE;
   }
   .registration{
    display: flex;
    height: 200px;
    background: #289BDE;
    border-radius: 5px;
    margin: 0 40px;
    padding-top: 5px;
    justify-content: space-around;
    align-items: center;
}
   

    .registration .info p{
        margin: 40px;
        color: white;
    }
    .company{
        text-align: center;
        padding: 30px;
    }
    .company-image{
        margin-left: 200px;
        grid-template-columns: 30px;
    }